@media (max-width: 500px) {
  .product {
    margin-top: 1rem;
    grid-template-columns: 1fr;
    max-width: 90vw;
  }

  .product__image-container {
    height: 13.5rem;
    border-radius: 0;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }

  .product__image {
    object-position: top;
  }

  .product__content__type {
    margin-bottom: .875rem;
  }

  .product__content__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .product__content__price-group {
    margin-top: 1.5rem;
  }

  .product__content__price-discount {
    font-size: 2.2rem;
  }

  .product__button {
    margin-top: 1.3rem;
  }
}